@theme {
  --color-tech-blue-100: #079BEE;
  --color-tech-gray-100: #757575;
  --color-tech-gray-200: #F6F6F6;
  --color-tech-gray-300: #AFAFAF;
  --color-tech-gray-400: #EEEEEE;
  --color-tech-blue-sky-100: #E3FCFF;
}