/* @theme{
  --font-primary: "PlayfairDisplay",
  --font-style: normal;
  --font-weight: 200 500;
  --font-display: swap;
  --src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") ;
} */

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("primary");
}